<HTML>
<HEAD>
<script type="text/javascript" src="http://jacobodonnell.com/js/jquery-1.4.2.min.js"></script>
<style>
.square {
    width:25px;
    height: 25px;
    position:absolute;
    background-color: grey;
}
</style>

<script>

var TOTAL_FLAGS = {{ num_flags }};
var rows = {{ rows }};
var columns = {{ columns }};
var num_flags = {{ num_flags }};

var time;
var new_game = true;

var game_over = false;

function update_clock() {
    var date = new Date();
    var now = date.getTime();
    var time_diff = (now - time) / 1000;

    $('#clock').html(time_diff);
}


$(document).ready(function()
{
    var LEFT_MOUSE_CLICKED = 1;
    var RIGHT_MOUSE_CLICKED = 3;

    {
        var interval;
        function start_new_game() {
            new_game = false;
            var date = new Date();
            time = date.getTime();
            interval = setInterval("update_clock();", 30);
        }

        function end_game() {
            clearInterval(interval);
        }
    }

    function is_flagged(element) {
        return (element.style.backgroundColor == 'yellow')
    }

    function is_clear(element) {
        return element.innerHTML != '';
    }

    function unknown(element) {
        element.innerHTML = '';
        element.style.backgroundColor = 'grey';
    }

    function flag(element) {
        element.style.backgroundColor = 'yellow';
        num_flags--;
        update_flags();
    }

    function unflag(element) {
        unknown(element);
        num_flags++;
        update_flags();
    }

    function update_flags() {
        $('#flags').html(num_flags);
    }


    function set_safe(row, column) {
        $('#' + get_square_id(row, column)).css('background-color', 'green');
    }

    function set_danger(row, column, num_mines_surrounding) {
        $('#' + get_square_id(row, column)).css('background-color', 'orange');
        $('#' + get_square_id(row, column)).html(num_mines_surrounding);
    }

    function set_safe_area(clear_area) {
        for (var i = 0; i < clear_area.length; i++) {
            var clear_point = clear_area[i];
            if (!clear_point[2])
                set_safe(clear_point[0], clear_point[1])
            else
                set_danger(clear_point[0], clear_point[1], clear_point[2])
        }
    }

    function lost(element) {
        element.style.backgroundColor = 'red';
        $('#lost').css('visibility', 'visible');
        game_over = true;
        end_game();
    }

    function won(high_score) {
        game_over = true;
        end_game();
        $('#win').css('visibility', 'visible');
        if (high_score)
            $('#win').html('High score!');
    }

    function clear_spot(element) {
        var args = {'row':element.getAttribute('rowNum'), 'column':element.getAttribute('columnNum')};
        $.getJSON('/clear', args, function(data) {
            if (new_game){
                start_new_game();
            }

            if (data.lost == true) {
                lost(element);
            }

            if (data.num_surronding_mines) {
                set_danger(element.getAttribute('rowNum'), element.getAttribute('columnNum'), data.num_surronding_mines);
            }
            
            if (data.clear_area) {
                set_safe_area(data.clear_area);
            }
        });
    }

    function flag_square(element) {
        var args = {'row':element.getAttribute('rowNum'), 'column':element.getAttribute('columnNum')};
        $.getJSON('/flag', args, function(data) {
            if (is_flagged(element))
                unflag(element);
            else
                flag(element);

            if (data.won)
                won(data.high_score);

            if (new_game){
                start_new_game();
            }
        });
    }

    function get_square_id(row, column) {
        return "row" + row + "column" + column;
    }

    $('div').bind("contextmenu", function(e){ return false; }) // removes right click menu

    $('#reset').mousedown(function(event) {
        $.getJSON('/reset', function(data) {
            for (var row = 0; row < rows; row++) {
                for (var column = 0; column < columns; column++) {
                    var id = get_square_id(row, column);
                    unknown($('#' + id)[0]);
                    end_game();
                    $('#win').css('visibility', 'hidden');
                    $('#win').html('You won!');
                    $('#lost').css('visibility', 'hidden');
                    num_flags = TOTAL_FLAGS;
                    game_over = false;
                }
            }
            new_game = true;
        });
    });

    for (var row = 0; row < rows; row++) {
        var top = row * 30;
        for (var column = 0; column < columns; column++) {
            var left = column * 30;

            var id = get_square_id(row, column);
            var style = "left:" + left + "px; top:" + top + "px;";
            $("#game_area").append('<div class="square" rowNum="' + row+ '" columnNum="' + column + '" id="' + id 
                                   + '" style="' + style + '"></div>');

            $('#' + id).mousedown(function(event) {
                if (game_over == true)
                    return;
                switch (event.which) {
                case LEFT_MOUSE_CLICKED:
                    if (is_flagged(this) || is_clear(this))
                        break;
                    clear_spot(this);
                    break;
                case RIGHT_MOUSE_CLICKED:
                    if (is_clear(this))
                        break;

                    flag_square(this);
                    break;
                default:
                    throw 'Your mouse is weird.';
                }
            });
        }
    }
});
</script>
</HEAD>
<BODY>
    <div id="game_area"></div>
    <div style="position: absolute; top:240px; left: 500px; color:purple;"><a href="/high_scores">View High Scores</a></div>
    <div id="flags" style="position: absolute; top:240px; color:purple;">{{num_flags}}</div>
    <div id="clock" style="position: absolute; top:270px; color:blue;">0</div>
    <div id="lost" style="position: absolute; top:300px; color:red; visibility:hidden;">You lost!</div>
    <div id="win" style="position: absolute; top:330px; color:green; visibility:hidden;">You won!</div>
    <input type="button" id="reset" style="position: absolute; top:350px;" value="Reset">
</BODY>
</HTML>
